@media screen and (max-width: 900px) {
	.projects.grid3x3 {
		grid-template-columns: 1fr;
	}

	.overlap * {
	width: 50%;
	height: auto;
	}

	.projects h1 {
		display: none;
	}

	.grid2x2 {
		grid-template-columns: 1fr;
	}
}



@media screen and (min-width: 1200px) {
	header {
		height: 100vh;
	}

	h2 {
	font-size: 20px;
	}

	h3 {
		font-size: 16;
		color: #303030;
	}
}

@media screen and (max-width: 600px) {
	nav {
		position: static;
	}
}