@media screen and (max-width: 1000px) {
  .grid3 {
    grid-template-columns: 1fr;
  }

  nav {
    position: static;
    font-size: 15px;
    grid-template-columns: 1fr;
    padding: 0;
    width: 100%;
  }

  nav img {
  justify-self: center;
  }

  nav a:active {
  border: 2px solid grey;
  transition-duration: 0.45s;
  }

  .grid2 {
    grid-template-columns: 1fr;
  }

  .grid3_wrap {
    grid-template-columns: 1fr;
  }

.overlap * {
  width: 60%;
  height: auto;
  grid-area: overlay;
  
}

  .descriptive_block {
    height: fit-content;
    padding: 5%;
  }

  .small_section {
    height: fit-content;
  }

  .medium_section {
    height: fit-content;
  }

}