:root {
	--dark: #170F11;
	--evening: #192231;
	--skinny: #e3d0c2;
	--lightbrown: #b6845f;
	--darkbrown: #2f200d;
	
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Cinzel', serif;
	overflow-x: hidden;
}

.loader {
	display: flex;
	z-index: 1000;
	position: absolute;
	height: 100vh;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: white;
}

nav {
	display: grid;
	position: fixed;
	padding: 1% 5%;
	height: fit-content;
	width: 90%;
	justify-items: center;
	align-content: center;
	grid-template-columns: 3fr 1fr 1fr 1fr;
}

nav * {
	align-self: center;
}

nav a {
	color: var(--darkbrown);
	font-weight: 500;
	border: 2px solid white;
		padding: 10px;
	text-decoration: none;
	transition-duration: 0.3s;
	background: rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(3px);
}

nav a:hover {
	border: 2px solid grey;
	transition-duration: 0.45s;
}

nav img {
	padding: 10px;
	height: 5vw;
	justify-self: start;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(3px);
}


.main {
	width: 100%;
}

.headline {
	display: grid;
	justify-items: center;
	align-content: center;
	justify-self: center;
}

.headline h1 {
	font-size: 3vw;
	color: var(--darkbrown);
	text-transform: uppercase;
	text-align: center;
}

.headline h2 {
	font-size: 1.7vw;
	color: var(--lightbrown);
	text-align: center;
}

.descriptive_block {
	display: grid;
	justify-items: left;
	text-align: left;
	align-content: center;
	justify-self: center;
	width: 65%;
	padding: 24px;
}

.descriptive_block p {
	padding-top: 16px;
	font-size: 16px;
	font-weight: 800;
	color: var(--lightbrown);
}

.small_section {
	height: 100vh;
	min-height: 250px;
}

.grid3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
	align-content: center;
}

.grid3_header {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
	align-content: center;
}

.grid2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	align-content: center;
}

.grid3_wrap {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	align-content: center;

}

.left_grid {
	z-index: 10;
	justify-self: start;
	animation-name: closer1;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}


.right_grid {
	z-index: 10;
	justify-self: end;

	animation-name: closer2;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

.medium_section {
	height: 100vh;
}

.overlap {
	display: grid;
	grid-template-areas: "overlay";
	border-top: hidden;
	border-right: hidden;
	border-bottom: 2px solid var(--lightbrown);
	border-left: hidden;
	justify-items: center;
	align-content: center;
	justify-self: center;
	align-self: center;

}

.greyscale {
	filter: grayscale(50%);
}

.fly {
	animation-name: special_fx_fly;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
}

.border_bottom {

}

.overlap * {
	width: 90%;
	height: auto;
	grid-area: overlay;
	
}

.special_fx {
	transform: translateX(10px) translateY(-8px);
	z-index: -10;
	animation-name: special_fx;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

.behind {
	z-index: 1;
}

.button {
	/*border-style: solid;
	border-color: var(--lightbrown);*/
	border: none;
	background: white;
	opacity: 0.0;
	transition-duration: 0.4s;
	z-index: 100;
}

.button:hover {
	opacity: 0.8;
	transition-duration: 0.4s;
}

.button a{
	text-decoration: none;
	font-size: 3vw;
	font-family: 'Cinzel', serif;
	color:  var(--darkbrown);
}

footer {
	padding: 1%;
	height: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 0.6rem;
	min-height: 270px;
	text-align: center;
}

footer h1 {
	font-weight: 100;
}

footer h2 {
	opacity: 0.8;
}

footer span img {
	height: 40;
	margin: 20px;
	width: 40;
}


.bg_black {
	background: black;
}

.gradient {
	background: linear-gradient(180deg, white 0%, white 70%, var(--skinny) 100%);
}

.gradient2 {
	background: linear-gradient(180deg, var(--skinny)  0%, var(--darkbrown) 30%);
}

@keyframes closer1 {
	0% {
		transform: translateX(-20px);
	}

	50% {
		transform: translateX(0px);
	}

	80% {
		transform: translateX(0px);
	}

	100% {
		transform: translateX(-20px);
	}
}

@keyframes closer2 {
	0% {
		transform: translateX(20px);
	}

	50% {
		transform: translateX(0px);
	}

	80% {
		transform: translateX(0px);
	}

	100% {
		transform: translateX(20px);
	}
}

@keyframes special_fx {
	0% {
		filter: hue-rotate(0deg);
	}

	50% {
		filter: hue-rotate(180deg);
	}

	100% {
		filter: hue-rotate(360deg);
	}
}

@keyframes special_fx_fly {
	0% {
		transform: translateY(0px);
	}

	50% {
		transform: translateY(10px);
	}

	100% {
		transform: translateY(0px);
	}
}


nav {
	z-index: 180;
}

.upper {
	z-index: 102;
}

