:root {
	--dark: #170F11;
	--evening: #192231;
	--skinny: #e3d0c2;
	--lightbrown: #b6845f;
	--darkbrown: #2f200d;
}

.loader {
	font-size: 4vw;
	font-family: sans-serif;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

* {
	margin: 0;
	padding: 0;
}

.grid3x3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
	align-items: center;
}

.grid2x2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	align-items: center;
}

.grid2x2 span {
	width: 60%;
	padding: 24px;
}

.grid2x2 span p {
	padding-top: 1.5vw;
	font-weight: 600;
}

.fly {
	animation-name: statue_shattered;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.descriptive_block {
	display: grid;
	justify-items: left;
	text-align: left;
	align-content: center;
	justify-self: center;
	width: 70%;
	padding: 24px;
}

body {
	font-family: 'Cinzel', serif;
	overflow-x: hidden;
	cursor: url("../img/cframe1.png"), auto;
	transition-duration: 2s;
}

nav {
	position: fixed;
	width: 95%;
	z-index: 10;
	padding: 0 calc(10px + 0.5vw);
	margin: 10px;
	display: grid;
	grid-template-columns: 1fr auto;
	justify-items: space-between;
	align-items: center;
	font-size: calc(10px + 0.5vw);
}

nav span {
	display: flex;
	flex-direction: row;
	justify-self: end;
}

nav span * {
	padding: calc(10px + 0.5vw);
}

nav img {
    height: 5vw;
    justify-self: start;
}

.blur {
	backdrop-filter: blur(3px);
	background: rgba(255, 255, 255, 0.15);
}

nav span a {
	color: var(--darkbrown);
	text-decoration: none;
	transition-duration: 0.3s;
	background: rgba(255, 255, 255, 0.2);
	transition-duration: 0.3;
	backdrop-filter: blur(3px);
}

nav span a:hover {
	background: var(--darkbrown);
	color: white;
	transition-duration: 0.5;
}

header {
	height: calc(fit-content + 20px);
	text-align: center;
}

h2 {
	font-size: calc(5px + 1.5vw);
}

h3 {
	font-size: calc(5px + 1vw);
	color: #303030;
}

p {
	color: var(--lightbrown);
	font-size: calc(5px + 1vw);
}

header img {
	width: 90%;
	max-width: 500px;
}

header h2 {

}

.left_hand {
	justify-self: start;
	animation-name: left_hand;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

.right_hand {
	justify-self: end;
	animation-name: right_hand;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

@keyframes left_hand {
	0% {
		transform: translateX(-20px);
	}

	50% {
		transform: translateX(0px);
	}

	80% {
		transform: translateX(0px);
	}

	100% {
		transform: translateX(-20px);
	}
}

@keyframes right_hand {
	0% {
		transform: translateX(20px);
	}

	50% {
		transform: translateX(0px);
	}

	80% {
		transform: translateX(0px);
	}

	100% {
		transform: translateX(20px);
	}
}

@keyframes statue_shattered {
	0% {
		transform: translateY(20px);
	}

	50% {
		transform: translateY(0px);
	}

	100% {
		transform: translateY(20px);
	}
}

.projects {
	height: fit-content;
}

.projects h1 {
	display: grid;
	align-items: center;
	text-align: center;
}

.overlap {
	display: grid;
	grid-template-areas: "overlay";
	border-top: hidden;
	border-right: hidden;
	border-bottom: 2px solid var(--lightbrown);
	border-left: hidden;

	justify-items: center;
	align-items: center;
}

.overlap * {
	width: 95%;
	height: auto;
	grid-area: overlay;
	text-align: center;
}

.up_front {
	z-index: 1;
}

.overlap a {
	display: grid;
	align-items: center;
	height: 100%;
	text-decoration: none;
	color: var(--darkbrown);
	z-index: 3;
	font-size: calc(5px + 2vw);
	background: rgba(255, 255, 255, 0.9);
	opacity: 0;
	transition-duration: 0.5s;
}

.overlap a:hover {
	transition-duration: 0.4s;
	opacity: 1.0;
}

footer {
	padding: 5%;
	height: fit-content;
	text-align: center;
}

footer * {
	padding: 5px;
}

footer img {
	height: 24px;
	padding: 5px;
}

footer h2 {
	padding-bottom: 0;
}

footer h3 {
	padding-top: 0;
}

a {
	cursor: url("../img/cframe2.png"), auto;
}

a:hover {
	cursor: url("../img/cframe2.png"), auto;

}